{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block body %}

{% if LANGUAGE_CODE == 'ar' %}
{% if validlink %}
<br><br><br>
<div class='container mx-auto text-center'>
        <h2>قم بإدخال كلمة السر الجديده و تأكيدها</h2><br><br>

          <form method="post" class="form">
              {% csrf_token %}
              {% bootstrap_form form %}
              {% buttons %}
                  <button type="submit" class="btn btn-primary">إعادة تعيين كلمة السر</button>
              {% endbuttons %}
          </form>
    {% else %}
    <br><br>
    <div class='container text-center mt-5'>
        <h2>انتهت صلاحية رابط تغيير كلمة السر برجاء طلبه مُجدداُ</h2>
        <p><a href="{% url 'password_reset' %}">هل نسيت كلمة السر ؟</a></p>
    {% endif %}
</div><br><br><br><br>

{% else %}

{% if validlink %}
<br><br><br>
<div class='container mx-auto text-center'>
        <h2>Enter the new password and confirm it</h2><br><br>

          <form method="post" class="form">
              {% csrf_token %}
              {% bootstrap_form form %}
              {% buttons %}
                  <button type="submit" class="btn btn-primary">Reset the password</button>
              {% endbuttons %}
          </form>
    {% else %}
    <br><br>
    <div class='container text-center mt-5'>
        <h2>The change password link has expired. Please request it again</h2>
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    {% endif %}
</div><br><br><br><br>

{% endif %}

{% endblock body %}
