{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block body %}

{% if LANGUAGE_CODE == 'ar' %}

<br><br><br><br>
<div class='container mt-5 mx-auto text-center'>
<h2 class='contcolor'>إعادة تعيين كلمة السر</h2> <br><br><br>
<form method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">إرسال تعليمات تغيير كلمة السر</button>
    {% endbuttons %}
</form>
</div> <br><br><br><br>

{% else %}

<br><br><br><br>
<div class='container mt-5 mx-auto text-center'>
<h2 class='contcolor'>Reset Your Password</h2> <br><br><br>
<form method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Send password recovery instructions</button>
    {% endbuttons %}
</form>
</div> <br><br><br><br>

{% endif %}

{% endblock body %}
