{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block body %}

{% if LANGUAGE_CODE == 'ar' %}

<br><br><br><br><br>
<div class='container text-center'>
<h2> تم تغيير كلمة السر الخاصة بك بنجاح</h2>
<br>
<h3><a href="{% url 'login' %}">اضغط هنا لتسجيل الدخول</a></h3>
</div>
<br><br><br>

{% else %}

<br><br><br><br><br>
<div class='container text-center'>
<h2> Your password has been changed </h2>
<br>
<h3><a href="{% url 'login' %}">Click here to log in again</a></h3>
</div>
<br><br><br>

{% endif %}

{% endblock body %}
