{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block body %}


{% if LANGUAGE_CODE == 'ar' %}

<br><br><br><br>
<div class='container mt-5 mx-auto text-center'>
<h2 class='contcolor'>تم إرسال تعليمات إعادة تعيين كلمة السر على البريد الإلكتروني الخاص بك</h2> <br><br>
<h3 class='contcolor'>افحص مجلد الرسائل المزعجة إذا لم تتلقى الرساله في البريد الوارد خلال دقيقه</h3> <br><br><br>

</div> <br><br><br><br>

{% else %}

<br><br><br><br>
<div class='container mt-5 mx-auto text-center'>
<h2 class='contcolor'>Password recovery instructions have been sent to your e-mail</h2> <br><br>
<h3 class='contcolor'>Check your spam folder if you haven't received the message in your inbox within a minute</h3> <br><br><br>

</div> <br><br><br><br>

{% endif %}

{% endblock body %}
