{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block body %}


{% if LANGUAGE_CODE == 'ar' %}
<div class='container mt-5 mx-auto text-center'>
<h1>إنشاء حساب جديد</h1> <br> <br>
<form method="post" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">التسجيل</button>
    {% endbuttons %}
</form>
</div>

{% else %}

<div class='container mt-5 mx-auto text-center'>
<h1>Create New Account</h1> <br> <br>
<form method="post" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Register</button>
    {% endbuttons %}
</form>
</div>

{% endif %}

{% endblock body %}
